<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ricardo Gonçalves</title>
    <meta content="Ricardo Gonçalves homepage" name="description">
    <meta content="Ricardo Gonçalves homepage" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Template Main CSS File -->
    <link href="dist/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: MyResume - v4.7.0
    * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <noscript>
        JavaScript not detected; JavaScript is required for editing parts of the application.
    </noscript>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="btn btn-primary mobile-nav-toggle d-lg-none"><i class="bx bx-menu mobile-nav-toggle"></i></button> -->
    <i class="btn bx bx-menu mobile-nav-toggle d-lg-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">
        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li><a href="/#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <!-- <li><a href="/#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li> -->
                <!-- <li><a href="/#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li> -->
                <li><a href="/#projects" class="nav-link scrollto"><i class="bx bx-code-alt"></i> <span>Projects</span></a></li>
                <li><a href="/#resume" class="nav-link scrollto"><i class="bx bx-book-reader"></i> <span>Resume</span></a></li>
                <!-- <li><a href="/#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
                <li><a href="/#awards-publications" class="nav-link scrollto"><i class="bx bx-award"></i> <span>Awards &amp; Publications</span></a></li>
                <li><a href="/#contribute" class="nav-link scrollto"><i class="bx bx-donate-heart"></i> <span>Contribute</span></a></li>
                <li><a href="/#contact" class="nav-link scrollto"><i class="bx bx-chat"></i> <span>Contact</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </header><!-- End Header -->

    {{#if isHomepage}}
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex flex-column justify-content-center">
            <div class="container" data-aos="zoom-in" data-aos-delay="100">
                <p class="hero-title">Ricardo Gonçalves</p>
                <p>I'm <span class="typed" data-typed-items="Developer, Freelancer, Entrepreneur, Creative, Dreamer"></span></p>
                <div class="social-links">
                    <!-- <a href="https://twitter.com/ri_gon" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                    <a href="https://www.linkedin.com/in/rigon" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    <a href="https://github.com/rigon" class="github"><i class="bx bxl-github"></i></a>
                    <!-- <a href="https://www.youtube.com/user/ricargoncalves" class="youtube"><i class="bx bxl-youtube"></i></a> -->
                    <!-- <a href="https://discord.gg/e2PW7VEj" class="discord"><i class="bx bxl-discord"></i></a> -->
                    <a href="https://www.patreon.com/rigon" class="patreon"><i class="bx bxl-patreon"></i></a>
                    <a href="mailto:ricardompgoncalves@gmail.com" class="mail-send"><i class="bx bx-mail-send"></i></a>
                </div>
                <div class="action-button">
                    <a href="#contribute" class="btn btn-primary">Buy me a coffee! <i class="bx bxs-coffee-togo"></i></a>
                </div>
            </div>
        </section><!-- End Hero -->
    {{/if}}

    <main id="main">
        {{#each sections}}
            <!-- ======= {{ name }} section ======= -->
            <section id="{{ name }}" class="{{ name }}">
                <div class="container" data-aos="fade-up">
                    {{{ data }}}
                </div>
            </section><!-- end {{ name }} section -->
        {{/each}}
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Ricardo Gonçalves</h3>
            <p>Worker, active, committed. I like new challenges!</p>
            <div class="social-links">
                <!-- <a href="https://twitter.com/ri_gon" class="twitter"><i class="bx bxl-twitter"></i></a> -->
                <a href="https://www.linkedin.com/in/rigon" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                <a href="https://github.com/rigon" class="github"><i class="bx bxl-github"></i></a>
                <!-- <a href="https://www.youtube.com/user/ricargoncalves" class="youtube"><i class="bx bxl-youtube"></i></a> -->
                <!-- <a href="https://discord.gg/e2PW7VEj" class="discord"><i class="bx bxl-discord"></i></a> -->
                <a href="https://www.patreon.com/rigon" class="patreon"><i class="bx bxl-patreon"></i></a>
                <a href="mailto:ricardompgoncalves@gmail.com" class="mail-send"><i class="bx bx-mail-send"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>rigon.tk</span></strong>. All Rights Reserved - <a href="?login">Login</a>
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: [license-url] -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

     <!-- Back to top button -->
    <a href="#" class="btn btn-primary back-to-top"><i class="bx bx-up-arrow"></i></a>

    <!-- Template Main JS File -->
    <script src="dist/main.js"></script>

</body>

</html>
